<!DOCTYPE HTML>
<html lang="en">


<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3NEVL70KSZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3NEVL70KSZ');
  </script>

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:px">
      <td style="padding:0px">

<!-- Section Tab -->
        <div class="nav-container">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#news" class="nav-link" onclick="Expand('news')">News</a></li>
                <li class="nav-item"><a href="#education" class="nav-link">Education</a></li>
                <li class="nav-item"><a href="#experience" class="nav-link" onclick="Expand('experience')">Experience</a></li>
                <li class="nav-item"><a href="#publications" class="nav-link" onclick="Expand('publications')">Publications</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link" onclick="Expand('projects')">Projects</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
        </div>

<!-- Name -->
        <table id="name" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;margin-top:40px;"><tbody>
          <tr style="padding:0px">                                    
            <td style="padding:0%;width:63%;vertical-align:middle">
              <p style="text-align:center;margin:0;">
                <h1 style="font-size: 40px;text-align:center;margin:0;"><name>Rafay Mohiuddin</name></h1>
              </p>
            </td>
          </tr>            
        </table>

<!-- Introduction -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;margin-top:-10px;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
            
              <br>
              
              <p align="justify">
                Hello, I'm Rafay 👋 — a Master's graduate from the <a href="https://www.ed.tum.de/en/ed/home-1/">TUM School of Engineering and Design</a>, 
                with a focus on scientific computing, robotics, and 3D computer vision. 
                My thesis research explored efficient and scalable methods for <a href="http://opensu3d.github.io/">open-world 3D scene understanding (ICRA'25)</a> using 2D foundation models and LLM.
              </p>
              
              <p align="justify">
                I previously worked as a Robotics Research Intern at the <a href="https://huaweiresearchcentergermanyaustria.teamtailor.com/departments/intelligent-cloud-technologies-laboratory">Huawei Munich Research Center</a>, focusing on lifelong localization and mapping, and as a Student Research Assistant at the <a href="https://www.cee.ed.tum.de/cms/home/">Chair of Computational Modeling and Simulation</a>, where I contributed to robotics and simulation-based projects.
              </p>
              
              <p align="justify">
                My research interests spans <b>robotics</b>, <b>3D vision</b>, <b>machine learning</b>, and <b>physics simulation</b> — with hands-on experience in developing and deploying research-driven solutions across these domains.
              </p>

              <p align="justify">
                I'm currently working on a <a href="https://remesh.space/">3D generation</a> related startup, and also consult and collobrate with AI-focused startups.
                <u class="dotted"><b><i><a href="https://cal.com/rafaymhddn/quickchat" target="_blank" rel="noopener noreferrer" style="color: purple">Feel free to set up a call</a></i></b></u> — I'm happy to discuss research, startups, robotics, 3D vision, LLMs, or potential collaborations.
              </p>
              
              <!--p>
                <span style="color:red;"><b>Open to PhD/R&D Roles - feel free to connect if my work interests you!</b></span>
              </p-->
              
              

              <p style="text-align:center; font-size: 18px; font-weight: 500;">
                <a href="mailto:rafaymohiuddin7@gmail.com" target="_blank"><b>Email</b></a> &nbsp;/&nbsp;
                <a href="https://github.com/rafaymhddn"><b>GitHub</b></a> &nbsp;/&nbsp;
                <!--a href="https://orcid.org/0000-0003-3926-3679">Orcid</a> &nbsp;/&nbsp;-->
                <a href="https://scholar.google.com/citations?user=dOFWyvoAAAAJ&hl=en"><b>Scholar</b></a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/rafaymhddn/"><b>LinkedIn</b></a> &nbsp;/&nbsp;
                <a href="https://x.com/rafaymhddn/"><b>X</b></a> 
              </p>
              
            </td>
            <td style="padding:2.5%;width:30%;max-width:30%; vertical-align: top;">
                <div style="margin-top:50px;">  <!-- fine-tune this value -->
                  <a href="images/dp24of.jpeg">
                    <img src="images/dp24of.jpeg" style="width:100%;max-width:100%; border-radius: 5%" alt="profile photo" class="hoverZoomLink"/>
                  </a>              
                </div>
              </td>
              
          </tr>
        
        </table>
        <hr class="soft">


<!-- Banner -->

<div id="content-news" class="collapse in">
<div style="display: flex; justify-content: center; align-items: center;">
  <img src="images/banner_gif.gif" alt="Fun Banner Gif", style="padding:1.5%;width:95%;max-width:95%";>
</div>
</div>
<hr class="soft">
         


<!-- News -->
<button style="padding:2.5%; border:0px transparent; background-color: transparent;outline:none;" type="button" class="collapsible" data-toggle="collapse" data-target="#content-news" id="news">
  <h2>News</h2>
</button>
<div id="content-news" class="collapse in">
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:0%;width:100%;vertical-align:middle">
        <!-- Limit to 5 visible items, scroll rest -->
        <div style="max-height: 8.4em; overflow-y: auto;">
          <ul style="margin-top: 0; padding-left: 60px;">
            <li align="justify"><span style="color:red">[05/2025]</span> <a href="https://opensu3d.github.io/">OpenSU3D</a> was presented at ICRA'25 on 22 May 2025 🎉🚀</li>
            <li align="justify"><span style="color:blue">[03/2025]</span> Accepted into the ATLER Entrepreneurship in Residence program 🚀</li>
            <li align="justify"><span style="color:red">[01/2025]</span> <b>OpenSU3D</b> paper accepted at ICRA'25 — check out the <a href="https://opensu3d.github.io/">Project Page</a> 🎓📢</li>
            <li align="justify"><span style="color:purple">[01/2025]</span> Started building a startup idea around 3D generation 💡🔥</li>
            <li align="justify"><span style="color:red">[09/2024]</span> Completed, M.Sc., graduated from TUM 🧑‍🎓🎓</li>
            <li align="justify"><span style="color:blue">[04/2024]</span> Defended Master's thesis on "Open World 3D Scene Understanding" at TUM 🛡️👏</li>
            <li align="justify"><span style="color:blue">[10/2023]</span> Started thesis research in 3D scene understanding 🔍📊</li>
            <li align="justify"><span style="color:blue">[04/2023]</span> Joined Huawei Munich Research Center as a Research Intern working on Life-Long SLAM 🤖🏢</li>
            <li align="justify"><span style="color:blue">[10/2021]</span> Started M.Sc. at TUM 🎓📘</li>
            <li align="justify"><span style="color:red">[03/2023]</span> Paper on Additive Manufacturing accepted at ISARC'23 📄🎉</li>
            <li align="justify"><span style="color:purple">[04/2022]</span> Started working as a HiWi at the Chair of Computational Modeling and Simulation 🛠️🧠</li>
            <li align="justify"><span style="color:blue">[10/2021]</span> Started M.Sc. at TUM, moved to Munich, Germany 🎓🇩🇪</li>
            <li align="justify"><span style="color:red">[10/2020]</span> Published BE research paper on Nanofluids in Wiley Journal of Heat Transfer 📢📄</li>
            <li align="justify"><span style="color:purple">[07/2020]</span> Joined PNEC NUST to work on Aerial Robots 🤖✈️</li>
            <li align="justify"><span style="color:red">[12/2019]</span> Completed B.E. from NEDUET, Pakistan 🎓🎉</li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
<hr class="soft">
  
<!-- Experience -->




<!-- Education -->




        
<!-- Publications -->
<button style="padding:2.5%; border:0px transparent; background-color: transparent;outline:none;"type="button" class="collapsible" data-toggle="collapse" data-target="#content-publications" id="publications">
  <h2>Publications</h2>
  </button>
<div id="content-publication" class="collapse in">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="{{post.image}}"><img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%; border-radius: 5%; border: 2px solid #555" /></a>
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.subtitle}} - {{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.web %}
              <a href="{{post.web}}">web</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        
        <br>
        <br>
        
</div>
<hr class="soft">


        <!-- Projects Section -->
        <button style="padding:2.5%; border:0px transparent; background-color: transparent;outline:none;"type="button" class="collapsible" data-toggle="collapse" data-target="#content-projects" id="projects">
          <h2>Projects</h2>
        </button>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p> These include coursework, assignments, side projects ... <a href="https://github.com/rafaymhddn">(GitHub)</a> 
              </p>
            </td>
          </tr>
        </table>
        <ul>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="{{post.image}}"><img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%; border-radius: 5%; border: 2px solid #555" /></a>
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
      </ul>
        <hr class="soft">

        <!-- Contact Section -->
        <button style="padding:2.5%; border:0px transparent; background-color: transparent;outline:none;" type="button" class="collapsible" data-toggle="collapse" data-target="#content-contact" id="contact">
          <h2>Contact</h2>
        </button>
        <div id="content-contact" class="collapse in">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:left">
                <p style="text-align:left; font-size: 0.9rem; line-height: 1.4;">
                  <b>Rafay Mohiuddin | M.Sc. TUM<br>
                  📍 Munich, Germany<br>
                  ✉️ <a href="mailto:rafay.mhddn@gmail.com">rafay.mhddn[at]gmail.com</a><br>
                  🔗 <a href="https://linkedin.com/in/rafaymhddn/">linkedin.com/in/rafaymhddn/</a><br>
                  🌐 <a href="https://rafaymhddn.github.io/">rafaymhddn.github.io/</a>
                </p>

                 <!-- Cal.com Button: opens popup -->
                 <button data-cal-link="rafaymhddn/quickchat"
                 style="background-color: #2d3748; color: white; border: 1px solid #4a5568; padding: 10px 15px; border-radius: 8px; cursor: pointer; font-size: 0.9rem; margin-top: 10px; font-family: sans-serif; font-weight: 500;">
                    📅 Schedule a Quick Chat
                    </button>

                    <!-- Cal.com embed script: Initializes Cal and attaches to the button above -->
                    <script type="text/javascript">
                        (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
                        Cal("init", {origin:"https://cal.com"});
                        Cal("ui", {"theme":"dark","hideEventTypeDetails":false,"layout":"month_view"});
                    </script>
                    <!-- Cal embed code ends -->
              </td>
            </tr>
          </table>

         
        </div>
        <hr class="soft">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
  </table>
</body>



</html>

