<!DOCTYPE HTML>
<html lang="en">


<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3NEVL70KSZ"></script>
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3NEVL70KSZ');
  </script>

</head>


<body>
  <table class="page-table">
    <tr style="padding:px">
      <td class="page-cell">

<!-- Section Tab -->
<div class="nav-container">
    <ul class="nav-menu">
        <li class="nav-item"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#news" class="nav-link">News</a></li>
        {% if site.one_page %}
        <li class="nav-item"><a href="{{ site.baseurl }}/#education" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#experience" class="nav-link">Experience</a></li>
        {% else %}
        <li class="nav-item"><a href="{{ site.baseurl }}/education/" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/experience/" class="nav-link">Experience</a></li>
        {% endif %}
        <li class="nav-item"><a href="{{ site.baseurl }}/#publications" class="nav-link">Publications</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/projects/" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#contact" class="nav-link">Contact</a></li>
    </ul>
</div>


{% include education_section.html %}

  
  <hr class="soft">


          
        </td>
      </tr>
    </table>
  </body>
  
  
  
  </html>
  
  
