<!DOCTYPE HTML>
<html lang="en">


<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3NEVL70KSZ"></script>
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3NEVL70KSZ');
  </script>

</head>


<body>
  <table class="page-table">
    <tr style="padding:px">
      <td class="page-cell">

<!-- Section Tab -->
<div class="nav-container">
    <ul class="nav-menu">
        <li class="nav-item"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#news" class="nav-link">News</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/education/" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/experience/" class="nav-link">Experience</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#publications" class="nav-link">Publications</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/projects/" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#contact" class="nav-link">Contact</a></li>
    </ul>
</div>


<button type="button" class="collapsible section-toggle" data-toggle="collapse" data-target="#content-education" id="education">
    <h2>Education</h2>
  </button>
  <div id="content-education">
  <table class="section-table education-table"><tbody>
    <tr style="padding-top: 0; padding-bottom: 0;">
      <td class="entry-logo-cell">
          <div class="logo-frame">
              <img src='{{ site.baseurl }}/images/ned-logo.png' class="logo-image" alt="NED University logo">
          </div>
      </td>
      <td class="entry-content-cell">
          <papertitle><big><b>B.Eng, NED University of Engineering and Technology</b></big></papertitle>
          <br>
          12.2015 - 08.2019 | Karachi, Pakistan
          <br>
          <p align="justify" style="margin: 0;">
            Thesis: Numerical Investigation of Heat Transfer Enhancement in Impinging Jets. <a href="https://doi.org/10.1002/htj.21986">(Wiley, Heat Transfer)</a>
          </p>
      </td>
    </tr>
  
    <tr style="padding-top: 0; padding-bottom: 0;">
      <td class="entry-logo-cell">
          <div class="logo-frame">
              <img src='{{ site.baseurl }}/images/tum-logo.png' class="logo-image" alt="TUM logo">
          </div>
      </td>
      <td class="entry-content-cell">
          <papertitle><big><b>M.Sc, Technical University of Munich</b></big></papertitle>
          <br>
          10.2021 - 08.2024 | Munich, Germany
          <br>
          <p align="justify" style="margin: 0;">
            Thesis: Open World 3D Scene Understanding using Foundation Models. <a href="https://opensu3d.github.io/">(IEEE, ICRA 2025)</a>
          </p>
      </td>
    </tr>
  
  </tbody></table>
  </div>

  
  <hr class="soft">


          
        </td>
      </tr>
    </table>
  </body>
  
  
  
  </html>
  
  
