<!DOCTYPE HTML>
<html lang="en">


<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
  
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3NEVL70KSZ"></script>
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3NEVL70KSZ');
  </script>

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:px">
      <td style="padding:0px">

<!-- Section Tab -->
<div class="nav-container">
    <ul class="nav-menu">
        <li class="nav-item"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#news" class="nav-link">News</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/education/" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/experience/" class="nav-link">Experience</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#publications" class="nav-link">Publications</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/projects/" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/#contact" class="nav-link">Contact</a></li>
    </ul>
</div>

<button style="padding: 2.5%; border: 0px transparent; background-color: transparent; outline: none;" type="button" class="collapsible" data-toggle="collapse" data-target="#content-education" id="education">
  <h2>Education</h2>
</button>

<div id="content-education" class="collapse in">
  <table style="width: 100%; border: 0px; border-spacing: 0px; border-collapse: collapse; margin: auto;">
    <tbody>
      <tr>
        <td style="padding: 2.5% 2.5% 0 2.5%; width: 10%; vertical-align: top; text-align: center; min-width: 120px;">
          <div class="one">
            <img src="{{ site.baseurl }}/images/tum-logo.png" style="width: 40%; height: auto;" alt="TUM logo">
          </div>
        </td>
        <td style="padding: 2.5% 2.5% 0 2.5%; width: 90%; vertical-align: top;">
          <span style="font-size: 1.2em; font-weight: bold;">M.Sc - Technical University of Munich</span>
          <div style="color: grey; font-size: 0.9em; margin: 0; padding: 0;"> 10.2021 - 08.2024 | Munich, Germany</div>
          <p align="justify" style="margin: 0; padding: 0;">
            Thesis: Open World 3D Scene Understanding using Foundation Models. <a href="https://opensu3d.github.io/">(IEEE, ICRA 2025)</a>
          </p>
        </td>
      </tr>

      <tr>
        <td style="padding: 0 2.5% 2.5% 2.5%; width: 10%; vertical-align: top; text-align: center; min-width: 120px;">
          <div class="one">
            <img src="{{ site.baseurl }}/images/ned-logo.png" style="width: 40%; height: auto;" alt="NED logo">
          </div>
        </td>
        <td style="padding: 0 2.5% 2.5% 2.5%; width: 90%; vertical-align: top;">
          <span style="font-size: 1.2em; font-weight: bold;">B.Eng - NED University of Engineering and Technology</span>
          <div style="color: grey; font-size: 0.9em; margin: 0; padding: 0;">12.2025 - 08.2019 | Karachi, Pakistan </div>
          <p align="justify" style="margin: 0; padding: 0;">
            Thesis: Numerical Investigation of Heat Transfer Enhancement in Impinging Jets. <a href="https://doi.org/10.1002/htj.21986">(Wiley, Heat Transfer)</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  
  <hr class="soft">


          
        </td>
      </tr>
    </table>
  </body>
  
  
  
  </html>
  
  